{% extends 'base/base.html' %}
{% load static %}
{% block content %}

<section class="py-12 md:py-24 lg:py-32 bg-black">
    <div class="container mx-auto px-4">
      <div class="max-w-md lg:max-w-none mx-auto">
        <div class="mb-16">
          <h4 class="font-heading text-4xl text-white font-bold mb-5">Your Orders</h4>
          <p class="text-sm text-gray-400 mb-0">Check the status of recent orders, manage return orders, and discover similar products.</p>
        </div>
        {% for order in my_orders %}
        <div class="mb-20">
          <div class="flex flex-wrap -mx-4 pb-10 border-b border-blueGray-800">
            <div class="w-full lg:w-1/2 xl:w-auto px-4 mb-8 lg:mb-0">
              <div class="sm:flex items-center">
                <h5 class="mr-6 text-xl font-bold text-white">Order #{{order.id}}</h5>
                <span class="font-medium text-gray-500">Created on {{order.created_on}}</span>
              </div>
            </div>
            <div class="w-full lg:w-auto ml-auto px-4">
              
            </div>
          </div>
          <div class="py-8 border-b border-blueGray-800">
            <div class="flex flex-wrap -mx-4">
              <div class="w-full lg:w-3/4 xl:w-10/12 px-4 mb-6 lg:mb-0">
                <div class="sm:flex">
                  <img class="block h-60 w-60 object-cover" src="{% static 'assets/images/order/order-details-product2.png' %}" alt="">
                  <div class="mt-8 sm:pl-10">
                    <a href="{{order.product.get_absolute_url}}"><h6 class="font-bold text-white mb-1">{{order.product.name}}</h6></a>
                    <div class="flex items-center">
                      <span class="font-medium text-gray-400">Quantity</span>
                      <span class="inline-block w-1 h-1 mx-4 bg-gray-400 rounded-full"></span>
                      <span class="font-medium text-gray-400">{{order.quantity}}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="w-full lg:w-1/4 xl:w-2/12 px-4 text-right">
                <div class="flex flex-col h-full">
                  <span class="block pb-8 mb-auto font-bold text-white">{{order.total_price}}</span>
                  <a class="inline-block mb-3 px-8 py-3 text-center text-sm font-bold text-black bg-yellow-500 hover:bg-yellow-600 transition duration-200" href="#">Buy again</a><a class="inline-block px-8 py-3 text-center font-bold text-gray-400 hover:text-gray-200 border border-gray-400 hover:border-gray-200 transition duration-200" href="#">Shop similar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor%}
    </div>
    </div>
  </section>

{% endblock %}