{% extends 'base/base.html' %}
{% load static %}
{% block content %}


<section class="py-20">
    <div class="container px-4 mx-auto">
      <div class="flex flex-wrap -mx-4">
        <div class="w-full lg:w-4/12 xl:w-3/12 px-4 mb-5">
          <div class="p-5 border rounded">
            <div class="w-full ">
                <!-- Render the filter form -->
                <form method="GET" action="{% url 'staff_view' %}">
                  {% if  order_filter.form.non_field_errors %}
                      <div class="mb-4 text-red-500">
                          {{ order_filter.form.non_field_errors }}
                      </div>
                  {% endif %}

                  <div class="mb-4">
                    <label for="id_status" class="block font-medium">Status</label>
                    {{ order_filter.form.status }}
                    {% if order_filter.form.status.errors %}
                        <div class="mt-1 text-red-500">
                            {{ order_filter.form.status.errors|join:", " }}
                        </div>
                    {% endif %}
                  </div>
                
                  <div class="mb-4">
                      <label for="id_start_date" class="block font-medium">Start Date:</label>
                      <input type="date" name="start_date" value="{{ order_filter.form.start_date.value|default_if_none:'' }}" class="w-full rounded border-gray-300 border p-2 focus:outline-none focus:border-blue-500">
                  </div>
          
                  <div class="mb-4">
                      <label for="id_end_date" class="block font-medium">End Date:</label>
                      <input type="date" name="end_date" value="{{ order_filter.form.end_date.value|default_if_none:'' }}" class="w-full rounded border-gray-300 border p-2 focus:outline-none focus:border-blue-500">
                  </div>
     
                <button type="submit" class="w-full inline-block px-12 py-4 text-center text-black font-bold bg-yellow-500 hover:bg-yellow-600 transition duration-200">Apply Filters</button>
              
              </form>
            </div>
          </div>
        </div>
        <div class="w-full lg:w-8/12 xl:9/12 px-4 overflow-x-scroll">
             <!--table-->
            <table class="table-auto  text-sm text-left text-gray-500 ">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Date
                        </th>
        
                        <th scope="col" class="px-6 py-3 hidden md:table-cell">
                            Product name
                        </th>

                        <th scope="col" class="px-6 py-3 hidden md:table-cell">
                            wilaya
                        </th>
        
                        <th scope="col" class="px-6 py-3">
                            status
                        </th>

                        {% if request.user.is_staff %}
                        <th scope="col" class="px-6 py-3">
                            yalidine
                        </th>

                        {% endif  %}
                        <th scope="col" class="px-6 py-3">
                            <span class="sr-only">Edit</span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in page_obj %}
                    <tr class="bg-white border-b ">
                        <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            {{order.created_on|date:"M d, Y"}} <br>
                            {{order.created_on_time}}
                        </td>
        
                        <td class="px-6 py-4 hidden md:table-cell">
                            {{order.product.name}}
                        </td>
                        <td class="px-6 py-4 hidden md:table-cell">
                            {{order.state}}
                        </td>
        
                        <td class="px-6 py-4">
                            <span class="bg-{{order.status.color}} text-black text-xs font-medium mr-2 px-2.5 py-0.5 rounded">{{order.status}}</span>
                        </td>

                        {% if request.user.is_staff %}
                        <td scope="col" class="px-6 py-4 text-xs">
                            {{order.tracking_id}}
                        </td>
                        {% endif  %}
                        
                       
                        <td class="px-6 py-4 text-right">
                            <a href="{{order.staff_order_update_absolute_url}}" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                        </td>
                       
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
           
            <!--pagination-->
            <section class="py-5 mt-5">
              <div class="container mx-auto px-4">
                  <nav>
                      <ul class="flex items-center justify-center">
                          {% if page_obj.has_previous %}
                              <li>
                                  <a class="flex w-9 h-9 items-center justify-center bg-black text-white hover:text-gray-200"
                                      href="?page={{ page_obj.previous_page_number }}{% if pagination_query_string %}&{{ pagination_query_string }}{% endif %}"
                                      aria-label="previous">
                                      <svg width="7" height="12" viewBox="0 0 7 12" fill="none"
                                          xmlns="http://www.w3.org/2000/svg">
                                          <path d="M6 10.6666L1.33333 5.99992L6 1.33325" stroke="currentColor"
                                              stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                      </svg>
                                  </a>
                              </li>
                          {% endif %}
          
                          {% for page_num in page_obj.paginator.page_range %}
                              {% if page_obj.number == page_num %}
                                  <li><a class="flex w-9 h-9 items-center justify-center  bg-yellow-500 text-black font-bold"
                                          href="">{{ page_num }}</a></li>
                              {% elif page_num > page_obj.number|add:-5 and page_num < page_obj.number|add:5 %}
                                  <li><a class="flex w-9 h-9 items-center justify-center bg-black text-white hover:text-gray-200 font-bold"
                                          href="?page={{ page_num }}{% if pagination_query_string %}&{{ pagination_query_string }}{% endif %}">{{ page_num }}</a>
                                  </li>
                              {% endif %}
                          {% endfor %}
                          {% if page_obj.has_next %}
                              <li>
                                  <a class="flex w-9 h-9 items-center justify-center bg-black text-white hover:text-gray-200"
                                      href="?page={{ page_obj.next_page_number }}{% if pagination_query_string %}&{{ pagination_query_string }}{% endif %}"
                                      aria-label="next">
                                      <svg width="7" height="12" viewBox="0 0 7 12" fill="none"
                                          xmlns="http://www.w3.org/2000/svg">
                                          <path d="M1 1.33341L5.66667 6.00008L1 10.6667" stroke="currentColor"
                                              stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                      </svg>
                                  </a>
                              </li>
                          {% endif %}
                      </ul>
                  </nav>
              </div>
          </section>
          
          

        </div>
      </div>
    </div>
  </section>

<!--
  <span class="bg-green-500 ">Green</span>
  <span class="bg-yellow-500">Yellow</span>
  <span class="bg-red-500 ">Red</span>
  <span class="bg-orange-300 ">Light Orange</span>
  <span class="bg-orange-500">Medium Orange</span>
  <span class="bg-orange-700">Dark Orange</span>
-->
<!--
<span class="form-input w-full px-3 py-2 rounded-md placeholder-gray-400 focus:outline-none focus:ring focus:border-blue-500 datetimepicker bg-gray-100"></span>
-->
{% endblock %}


{% block scripts %}

{% endblock %}